
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/global.css';


:root {
  --primary-color: #B4789D; 
  --secondary-color: #D5ACC5; 
  --accent-color: #E7D3BF; 
  --neutral-color: #C6A89C; 
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

main {
  margin: 0 auto;
  padding: 2rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #923671; /* Tono más oscuro del rosa púrpura */
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: rgb(0, 0, 0);
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #B28AA7; /* Tono más oscuro del lila */
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 8px;
}

.img-rounded {
  border-radius: 8px;
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}
